apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster
  namespace: openshift-gitops
spec:
  template:
    spec:
      source:
        repoURL: $GIT_REPO_BASE_URL/$GIT_REPO_PATH
