apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aiml
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/lautou/ocp-open-env-install-tool-day2
    path: aiml
    targetRevision: main
  syncPolicy:
    automated:
      selfHeal: true
