kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: edit-openshift-gitops-argocd-application-controller
  namespace: kube-system
subjects:
  - kind: ServiceAccount
    name: openshift-gitops-argocd-application-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit