# Required in order to apply the TEMPORARY-FIX-openshift-builds-servicemonitor-shared-resource-csi-driver-node-monitor.yaml
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: monitoring-edit-openshift-gitops-argocd-application-controller
  namespace: openshift-builds
subjects:
  - kind: ServiceAccount
    name: openshift-gitops-argocd-application-controller
    namespace: openshift-gitops
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: monitoring-edit
